.header {
    width: 100%;
    height: 100px;
    display: flex; /* Enable Flexbox */
    align-items: center; /* Center items vertically */
    position: relative; /* Set position to relative for absolute positioning */
    padding: 1rem; /* Optional padding */
    border-bottom: 2px solid #3941B8;
}

.form-container {
    display: flex; /* Enable Flexbox */
    justify-content: center;
    align-items: center;
    padding-top: 0px;
}

.custom-container1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px !important;
    padding-left: 100px !important;  /* Убираем отступ слева */
    padding-right: 100px !important;  /* Убираем отступ справа */   
}

.custom-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-left: 30px !important;  /* Убираем отступ слева */
    padding-right: 30px !important;
}

@media (max-width: 500px) {
    .custom-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        padding-left: 20px !important;  /* Убираем отступ слева */
        padding-right: 20px !important;
    }
    
    .row {
        flex-wrap: nowrap !important;
        padding-top: 15px;
        padding-left: 10px;
    }
    .main_title {
        color: #34375d;
        font-weight: 700;
        font-size: 3.000em;
        margin: 0 0 34px -3px;
        line-height: 1;
        padding-left: 20px !important;
    }
    
    .direction {
        color: #34375d;
        font-weight: 700;
        font-size: 2.000em;
        margin: 0 0 34px -3px;
        line-height: 1;
        padding-left: 20px !important;
    }
    
    
}

.space{
    padding-top: 10px;
    width: 85% !important;
    margin-right: auto !important;
    margin-left: auto !important; /* Центрируем контейнер */ 
}


.main_title {
    color: #34375d;
    font-weight: 700;
    font-size: 3.000em;
    margin: 0 0 34px -3px;
    line-height: 1;
    padding-left: 30px;
}

.direction {
    color: #34375d;
    font-weight: 700;
    font-size: 2.000em;
    margin: 0 0 34px -3px;
    line-height: 1;
    padding-left: 30px;
}

.not-found {
    padding-left: 100px;
}

.under-header {
    width: 95%;
    padding-top: 20px;
    display: flex;
    padding-left: 90px;
    padding-right: 90px;
    flex-direction: row;
    justify-content: space-between;
}


.btn-outline-warning {
    --bs-btn-hover-color: #3941B8 !important;
    --bs-btn-active-color: #3941B8 !important;
}

.form-control {
    color: rgb(125, 125, 125) !important;
    border: var(--bs-border-width) solid #ffc107 !important; 
}

.trolly-btn {
    padding: 10px; /* Padding for the button */ /* Button background color */
    color: white !important;
    font-size: 18px !important; /* Button text color */
    border: none; /* Remove default border */
    border-radius: 10px !important; /* Rounded corners for the button */
    cursor: pointer; /* Change cursor to pointer */
    position: absolute; /* Position the button absolutely */
    right: 142px; /* Align button to the right edge of the viewport */
    top: 198px; /* Adjust top position as needed */
}

span {
    background-color: #1f31a3;
    color: white;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 15px;
    margin-left: 10px;
}

.trolly-btn:hover {
    color: #ffc107 !important;
    background-color: white !important;
    border: 1px solid  #ffc107 !important;
}