.navbar2 .nav-link.active {
    font-weight: bold !important;
    /* Make the active link bold */
    color: #ffffff !important;
    /* Change the text color of the active link */
    /* Change the background color of the active link */
    /* Underline the active link */
}

.navbar2 .nav-link {
    color: #ffffff !important;
    font-size: 20px !important;
}
